<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HUSCII CO2</title>
    <link rel="stylesheet" href="style.css">

</head>

<body class="bg-dark">
    <div class="container mt-5">
        <div class="jumbotron bg-light">
            <h4 class="text-left">Determine Carbon Emissions by City...</h4>
            <form action="#">
                <input type="text" placeholder="Enter City Name...">
                <input type="submit" value="Submit">
            </form>
        </div>
    </div>


    <!-- CSS only -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

</body>

</html>